# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
pipenv/
*.env

# Django-specific
*.log
db.sqlite3
media/
staticfiles/
config/settings_local.py

# Migrations
*/migrations/
